table {
    text-align: center;
}
.table {
    display: flex;
    justify-content: center;
}
table {
    border: 1px solid #000;
    padding: 30px;
    max-width: max-content;
}
th {
    padding: 25px;
    text-align: center;
}
tr {
    border: 1px solid #000;
    text-align: center;
}
td{
    padding: 20px;
}